@media (max-width: 576px) {
    #quote-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
        align-items: center;
        text-align: center;

    }
        #icons{
            padding-top: 15px;
        }
        #author{
            display: flex;
           
            justify-content: center;
        }
        #new{
            display: flex;
           justify-content: center;
           padding-left: 85px;
        }

  }

